<div class="container">
 <div class="alert alert-danger" *ngIf="mode==0">
 	<strong>You are not authorized to add new Tasks</strong>
 </div>
<div class="row col-md-6">
	<div class="panel panel-default" *ngIf="mode==1">
		<div class="panel-default">New task</div>
		<div class="panel-body">
			<form #f="ngForm" (ngSubmit)="onSaveTask(f.value)">
				<div class="form-group">
					<label class="control-label"> Task Name: </label>
					<input class="form-control" type="text" name="taskName" ngModel="" required />
				</div>
				<button class="btn btn-danger" type="submit" [disabled]="!f.valid">Save</button>
			</form>
		</div>
	</div>

	<div class="panel panel-default" *ngIf="mode==2">
		<div class="panel-heading">New task Added</div>
		<div class="panel-body">
		  <div class="form-group container">
		  	 <div>
		  	 	<label>ID:{{task.id}}</label>
		  	 </div>
		  	 <div>
		  	 	<label>Task Name:{{task.taskName}}</label>
		  	 </div>
		  </div>
		  <button class="btn btn-danger" (click)="mode=1">New Task</button>
		</div>		
	</div>
</div>
</div>
